* {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

h1,
h2 {
    text-align: center;
    letter-spacing: 4px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

h4 {
    font-weight: 400;
}

body {
    background: white;
    color: #131212;
}

.wrapper {
    align-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background-size: cover;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0.3in;
    width: 8.5in;
    height: auto;
    -webkit-box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 8px -3px rgba(0, 0, 0, 0.7);
}

.wrapper * > a,
.wrapper a:visited,
.wrapper a:focus {
    text-decoration: none;
    color: #131212;
}

.break-1 {
    margin-bottom: 1rem;
}

.break-2 {
    margin-bottom: 2.5rem;
}

.container {
    padding: 2rem;
    align-content: space-between;
}

.container-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: auto;
    margin: 2rem;
    border-right: 1px solid rgba(0, 0, 0, 0.7);
}

.container-right {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 80%;
}

.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.contact ul {
    list-style: none;
    text-decoration: none;
}

.contact-name {
    font-weight: 800;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.contact-details {
    text-decoration: none;
}

.skills > * {
    margin-top: 1rem;
}

.skills-programming {
    color: #131212;
}

.skills-languages {
    color: #131212;
}

.skills ul {
    list-style: none;
    text-decoration: none;
}

.section {
    margin-bottom: 2rem;
}

.sub-section {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    align-content: space-between;
}

.main h1 {
    line-height: 4rem;
    font-size: 2rem;
    padding: 5rem;
}

.job {
    padding-bottom: 1rem;
}

.job-title, .job-period {
    line-height: 1.5rem;
    margin-bottom: 0.5rem;
}

.job-description {
    color: #131212;
}

ul {
    list-style: circle;
    text-decoration: none;
}
